*{
    box-sizing: border-box;
    margin: 0;
    pad: 0;
}
body{
    padding: 0 10%;
    width: 100%;
    height: auto;
    border: 1px solid #0a0a0a;
}
h1{
    font-weight: 700;
    font-size: 32px;
    font-family: 'Nunito Sans';
    margin: 20px 0;
}
h2{
    font-weight: 500;
    font-size: 26px;
    font-family: 'Poppins';
    margin: 10px 0;
}

section{
    width: 100%;
    height: auto;
    padding: 1rem 0.5rem;
    border: 1px solid #0a0a0a;
}

.colors_container{
    width: 100%;
}
.colors_panel{
    width: 32%;
    min-height: 100px;
    margin:20px auto;
    display: inline-block;
    text-align: center;
}
.CornflowerBlue{
    background-color: #6495ED;
}
.MediumSeaGreen{
    background-color: #3CB371;
}
.Crimson{
    background-color: #DC143C;
}
.DarkSlateGray{
    background-color: #2F4F4F;
}
.Goldenrod{
    background-color: #DAA520;
}
